.orange-case {
    background-color: #c0a9a5;
}
#bor-img {
    position: absolute;
    top: 25%;
    left: 53%;

}
.small-td {
    text-align: center;
}
.quiz {
    padding: 40px;
}
.question {
    width: 400px;
    background-color: lightblue;
    border-style: dashed;
    padding: 10px;
    margin: 10px;
}
td, th {
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
}
table, tr {
    border-style: solid;
}